*/target
*/.idea

*.calsspath
*.calss
*.project
*.log
*.prefs
*.jar
*.war

### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.com
*.class
*.dll
*.exe
*.o
*.so