<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyb.mini.mall.dao.PayOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyb.mini.mall.pojo.entity.PayOrder">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="other_id" property="otherId" />
        <result column="pay_type" property="payType" />
        <result column="pay_order_no" property="payOrderNo" />
        <result column="third_order_no" property="thirdOrderNo" />
        <result column="repair_type" property="repairType" />
        <result column="amont" property="amont" />
        <result column="real_amont" property="realAmont" />
        <result column="state" property="state" />
        <result column="pay_request_str" property="payRequestStr" />
        <result column="pay_callback_str" property="payCallbackStr" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="pay_complete_time" property="payCompleteTime" />
        <result column="is_income" property="isIncome" />
        <result column="is_account_pay" property="isAccountPay"/>
        <result column="refund_pay_order_no" property="refundPayOrderNo"/>
    </resultMap>

</mapper>
