<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户消费协议</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/static/css/uniform.css"/>
    <link rel="stylesheet" href="/static/css/select2.css"/>
    <link rel="stylesheet" href="/static/css/matrix-style2.css"/>
    <link rel="stylesheet" href="/static/css/matrix-media.css"/>
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="content">

    <div id="content-header">
        <h1>用户消费协议</h1>
    </div>
    <div class="container-fluid">


        说明：<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 请您在登录，注册，和消费藏一本平台时，应充分阅读并理解《用户消费协议》以下简称“本协议”中的规则和条款。您应该具备中华人民共和国法律规定的与您行为相适应的民事行为能力。
        若您不具备签署与您行为相适应的民事行为能力，请确保您的监护人同意您的所有行为，在此情况下，您及您的监护人应依照法律规定承担因此而导致的一切后果，且藏一本有权注销或永久冻结您的账户。<br><br>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 如果您对本协议的任何条款表示异议，或者无法准确理解本协议，请不要使用藏一本平台购买服务。您使用购买服务等行为视为对本协议全部内容的接受，也意味您将接受本协议以及未来针对本协议更新版本条款的约束，
        并服从藏一本平台统一管理。藏一本平台可能会不定期的更新本协议内容，用户可在藏一本平台内页查阅最新版协议条款。更新后的协议条款一旦公布即代替原来的协议条款。协议条款更新后，如用户不同意接受，用户应停止使用藏一本平台提供的服务。<br><br>

        <h5>一、平台服务及规则</h5>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1. 用户在使用充值服务和使用商城交易时，务必仔细了解本协议及藏一本平台不时公布和更新的各项规则，并根据藏一本平台操作提示，
        确认自己的账号并选择相关操作选项。使用充值服务或购买服务时，用户应确保用户是该充值或购买账号的权利人，可合法、有效使用该账号且未侵犯任何第三方合法权益，否则因此造成充值或购买账户
        实际所有人损失的，用户应单独负责解决由此产生的纠纷并承担全部法律责任。<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2. 账户充值成功，在用户不使用藏一本平台的相关服务时，可以发起提现，提现的金额预计24小时之内到达用户在藏一本平台绑定的账户。<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.在藏一本平台上使用商城服务过程中，您承诺遵守以下约定:<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.1.在使用藏一本时实施的所有行为均遵守国家法律、法规和藏一本的相关规定以及各种社会公共利益或公共道德。如有违反导致任何法律后果的发生，用户将以自己的名义独立承担所有相应的法律责任；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.2.在使用藏一本进行交易过程中遵守诚实信用的原则，不在交易过程中采取不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.3.  不应在藏一本上恶意评价其他用户，或采取不正当手段提高自身的信用度或降低其他用户的信用度；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.4. 不对藏一本网上任何数据作商业性利用，包括但不限于在未经藏一本事先书面批准的情况下，以复制、传播等方式使用在藏一本网站上展示的任何资料；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.5. 不使用任何装置、软件或例行程序干预或试图干预藏一本平台的正常运作或正在藏一本平台上进行的任何交易、活动<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.6. 用户如需退款时平台会收取5%的手续费，如情况为平台原因请联系客服处理该问题。<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.如果藏一本发现因藏一本平台系统故障导致的充值/购买结果处理错误，无论有利于藏一本平台还是有利于用户，藏一本都有权在以藏一本平台公
        告或其他合理方式通知用户后纠正该错误。其中，如果该措施导致用户实际充值的“账户余额”少于用户应获得的“账户余额”及/或实际购买的藏一本服务数量少于用户应获得的藏一本服务，则用户有权
        通知藏一本平台。藏一本平台在调查及确认该处理错误后会尽快将差额补足至用户的账户余额中，或进行线下退款处
        理。如果该错误导致用户实际收到的“账户余额”数量多于用户应获得的“账户余额”及/或实际购买的藏一本平台服务数量多于用户
        应获得的藏一本平台服务，则无论错误的性质和原因如何，藏一本有权从用户的账户中直接扣除多得的“账户余额”及/或服务。<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5.使用藏一本助力打卡活动时，若您不具备签署与您行为相适应的民事行为能力，请确保您的监护人同意您的所有行为，如出现失误充值,
        意气充值,和恶意充值在此情况下，您及您的监护人应依照法律规定承担因此而导致的一切后果。<br><br>

        <h5>二、责任范围</h5>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1、	在使用藏一本时实施的所有行为均遵守国家法律、法规和藏一本的相关规定以及各种社会公共利益或公共道德。
        如有违反导致任何法律后果的发生，用户将以自己的名义独立承担所有相应的法律责任，且有权不经事先通知终止向用户 提供鉴赏、和商城交易等一系列服务。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.因用户自身的原因导致藏一本平台无法提供充值服务/购买服务或提供充值服务/购买服务时发生任何错误而产生的任何损
        失，由用户自行负责，藏一本平台不提供退、 换服务，亦不会作出任何补偿或赔偿，包括但不限于：<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (1)用户未按照本协议或藏一本平台不时公布和更新的规则进行充值服务/购买服务操作；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (2)因用户的账号失效、丢失、封停；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (3)因用户绑定的第三方支付账户之原因导致的损失，包括但不限于第三方支付账户被冻结、查封等；<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4、如果用户在使用本服务过程在违反了相关法律法规或本协议约定，给他方造成损失的，用户应自行承担责任，如藏一本平台因此造成损失的，用户应一并赔偿。<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5、用户理解并同意，在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务造成影响。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造
        成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为及非藏一本原因造成的通讯中断、技术故障等。出现上述情况时，藏一本将努力在第
        一时间与相关单位配合，争取及时进行处理，但是由此给用户造成的损失藏一本在法律允许的范围内免责。<br><br>


        <h5>三、处罚规则</h5>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.如用户实施了下列行为之一：<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (1)将通过充值服务及/或购买服务获得的任何内容用于复制、销售、传播或本协议约定之外用途的；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (2)盗用他人藏一本平台账号进行充值服务及/或购买或使用的；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (3)以任何系统BUG、漏洞、机器人软件、蜘蛛软 件、爬虫软件、刷屏软件或其它非正规方式获得充值服务及/或购买服务的；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (4)其他通过不正当手段或以违反诚实信用原则的行为获得充值服务及/或购买服务的。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (5)涉及危害国家安全、泄露国家秘密的；侵犯国家社会集体的和公民的合法权益的；制作、复制、发行或传播带有煽动抗拒、破坏法律、法规实施的，煽动颠覆国家政权，推翻社会主义制度的，煽动分裂国家、破坏国家统一的，煽动民族仇恨、民族歧视，破坏民族团结的，捏造或者歪曲事实，散布谣言，扰乱社会秩序的，宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的，公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的，损害国家机关信誉的，其他违反法律、法规的内容。
        藏一本平台有完全的权利在不通知用户的情况下，视严重情况，对用户同时采用下列单项或多项措施进行处理和处罚，同时藏一本平台无须给予用户任何补偿和退费、不
        予返还用户购买“虚拟币”所支付的对价，由此产生的责任由用户自行独立承担。因此给藏一本平台或第三方造成损失的，用户应负责全额赔偿（包括但不限于赔偿金、罚
        金、和解费、诉讼仲裁费、合理的律师费支出等）。<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (1) 暂停或终止提供全部或部分藏一本平台服务；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (2) 暂时限制或永久封禁相关用户藏一本平台账号；<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (3) 对相关用户藏一本平台账户中全部或部分的“账户余额”进行冻结或清空；<br><br>

        <h5>四、 管辖</h5>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.本协议适用中华人民共和国大陆地区施行的法律。当本协议的任何内容与中华人民共和国法律相抵触时，应当以法律规定为准，同时相关协议将按法律规定进行修改或重新解释，而本协议其他部分的法律效力不变。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.凡因本合同引起的或与本合同有关的任何争议，均应提交藏一本住所地有管辖权人民法院诉讼解决。<br>

        <h5>五、 附则</h5>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1. 藏一本平台不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响藏一本在将来行使该权利。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2. 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议条款的其余条款仍应有效且具有约束力，藏一本平台及用户均应尽力使该协议设定的本意得到实现。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3. 本协议中的标题仅为方便而设，不作为解释本条款的依据。<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4. 如有任何疑问，请联系客服:0731-84121691。<br>
    </div>
</div>


<script src='https://libs.baidu.com/jquery/1.7.1/jquery.min.js'></script>
<script src="/static/js/jquery.ui.custom.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.uniform.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/matrix.js"></script>
<script src="/static/js/matrix.tables.js"></script>
</body>
</html>
